@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
}

h1 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 60px;
  line-height: 63px;
  margin: 0;
  margin-bottom: 26px;
}

p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 61px;
}

.logo {
  width: 134px;
  margin-bottom: 92px;
}

.line {
  width: 77px;
  height: 3px;
  background-color: #333;
  margin-bottom: 26px;
}

.button {
  background-color: #ea9e9c;
  color: white;
  padding: 18px 30px;
  width: 207px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  display: flex;
}

.title-container {
  max-width: 323px;
}

.text-container {
  padding-top: 47px;
  padding-left: 59px;
  padding-right: 72px;
}

.image-container {
  background-image: url(https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
}

.text-container,
.image-container {
  width: 50vw;
  height: 100vh;
}
