@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 60px;
  line-height: 63px;
  margin: 0;
  margin-bottom: 26px;
  color: #333;
}

p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 61px;
}

.logo {
  width: 134px;
  top: 47px;
  position: absolute;
}

.line {
  width: 77px;
  height: 3px;
  background-color: #333;
  margin-bottom: 26px;
}

.button {
  background-color: #ea9e9c;
  color: white;
  padding: 18px 30px;
  width: 207px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.title-container {
  max-width: 323px;
}

.text-container,
.image-container {
  height: 100%;
  width: 50%;
  position: fixed;
}

.text-container {
  padding-top: 47px;
  padding-left: 59px;
  padding-right: 72px;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image-container {
  background-image: url(/images/pig.jpeg);
  background-size: cover;
  right: 0;
}
